@font-face {
    font-family: 'STAR WARS FONT';
    font-style: normal;
    font-weight: normal;
    src: local('STAR WARS FONT'), url('../fonts/Starjedi.ttf') format('truetype');
    }

h1 {
    font-family: 'STAR WARS FONT';
    font-weight: 200;
    text-transform: uppercase;
    color: #ffd700;
}